__pycache__/
dist/
*.py[cod]
*$py.class
*.egg-info/
.DS_Store
.idea/
.ruff_cache/
*.csv
Debug
ipynbs
*eggs*
exp
slurm_outputs
*.swp
sbatch.sh
experiments
resources
*nfs*
run.sh
run_supp.sh
MUJOCO_LOG.TXT
*.pkl
